body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Merriweather', serif;
  margin: 0;
}

.nav-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75vw;
}

.icon {
  height: 1rem;
  &.faded {
    opacity: 0.5;
  }
  &.x2 {
    height: 2rem;
  }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-right: 26px;
  padding-left: 26px;
}
